// COLORS
$color-primary: #961818;

$color-secondary-dark:#2B2B2B;
$color-secondary-light: #22333B;

$color-white: #EDEDED;
$color-black: #14080E;

// FONTS

$main-font: Oswald;
$secondary-font: playfair display sc;
$logo-font: New Rocker;
