.intro {
    background-color: $color-white;
    color: $color-black;
    text-align: center;
    padding-bottom: 10rem;
    &__container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        flex-wrap: nowrap;

        @include responsive(phone) {
            flex-direction: column;
        }

    }

    &__box {
        display: flex;
        flex-direction: column;
        width: 30%;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-top: 6rem;
        font-family: $main-font;

        @include responsive(phone) {
            margin-top: 10rem;
            width: 100%;
        }
        &-icon {
            width: 30%;
            height: 55%;
            @include responsive(phone) {
                margin-bottom: 3rem;
            }

        }
        
        &-title {
            font-size: 2rem;
            color: $color-primary;
            @include responsive(phone) {
                font-size: 4rem;
            }
            
        }

        &-description {
            font-size: 1.5rem;
            padding: 2rem;
            @include responsive(phone) {
                font-size: 2.5rem;
                padding: 5rem;
            }
        }
    }
}